@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../src/assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  min-height: 100vh;
  margin: 0; 
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 20px;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

header {
  padding: 16px;
  background-color: #f3f3f3;
}
