@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Take the full height of the viewport */
  padding: 16px;
 
  align-items: center;
}

.grid-container {
  display: flex;
  flex-direction: column;
  gap: 24px; /* Space between sections */
  flex-grow: 1; /* Allow it to grow and take the available space */
  width: 50%;
}

.aside-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Allow it to grow and take the available space */
  gap: 24px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

header {
  padding: 16px;
  background-color: #f3f3f3;
}